// Define colors
$nav-bg-color: #5ca08a;       // Navigation background color
$nav-link-color: #ffffff;     // Navigation link color

// Define font family and size
$font-family: 'Arial', sans-serif;
$font-size: 16px;

// Define navigation bar styles
nav {
  background-color: $nav-bg-color;
  display: flex;
  //justify-content: space-between;
  align-items: center;
  // padding: 10px 20px;
}

nav .menu_item {
    display: flex;
    margin-right: 10px;
    border: 4px white;
    height: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;

    &:last-child {
    margin-right: 0;
  }
}

/*.menu_item ul
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
} */

nav .menu_item ul li
{
  list-style: none;
  padding: 4px;
  position: relative;
  transition: 0.5s;
  display: block;
}

nav .menu_item ul li ul
{
  display: none;
}

nav .menu_item ul li:hover ul
{
  display: block;
  position: absolute;
  margin-top: 5px;
  background: lightgrey;
  border-radius: 0px;
  width: 120%;
  padding-left:2rem;
  padding-bottom: 2px;
  box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.5);

  .menu_grandchildren ul li
  {
    display: none;
  }
}

nav .menu_children ul li:hover ul li
{
  display: block;
  position: absolute;
  margin-top: 5px;
  background: lightgrey;
  border-radius: 0px;
  width: 120%;
  padding-left:2rem;
  padding-bottom: 2px;
  box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.5);
}


nav {
    
    a {
        color: $nav-link-color;
        text-decoration: none;
        font-family: $font-family;
         font-size: $font-size;
    }

    /* unvisited link */
    a:link {
        color: $nav-link-color;
        text-decoration: none;
        font-family: $font-family;
        font-size: $font-size;
    }
  
  /* visited link */
    a:visited {
        color: $nav-link-color;
        text-decoration: none;
        font-family: $font-family;
        font-size: $font-size;
    }
    
    /* mouse over link */
    a:hover {
        color: lightgray;
        text-decoration: none;
        font-family: $font-family;
        font-size: $font-size;
    }
    
    /* selected link */
    a:active {
        color: lightgray;
        text-decoration: none;
        font-family: $font-family;
        font-size: $font-size;
    }

}

// make a navbar with 2 levels of dropdown sub-menus using yml data
// https://stackoverflow.com/questions/51296001/how-to-make-a-navbar-with-2-levels-of-dropdown-sub-menus-using-yml-data


// https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp
// https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp
// https://www.w3schools.com/howto/howto_css_dropdown.asp
