<!--
    <nav>
        {% for item in site.data.navigation %}

        <div class="menu_item">
            <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
        </div>
        
        {% endfor %}

</nav> -->

<nav>
    {% for item in site.data.navigation.primary %}
    <div class="menu_item">
        <ul>
            <li>
            <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
            {% if item.children[0] %}
                <div class="menu_children">
                <ul>
                    {% for child in item.children %}
                        <li>
                            <a href="{{ child.link }}" {% if page.url == child.link %}class="current"{% endif %}>{{ child.name }}</a>
                            {% if child.grandchildren[0] %}
                                <div class="menu_grandchildren">
                                <ul>
                                    {% for grandchild in child.grandchildren %}
                                        <li><a href="{{ grandchild.link }}" {% if page.url == grandchild.link %}class="current"{% endif %}>{{ grandchild.name }}</a></li>
                                    {% endfor %}
                                </ul>
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                </div>
            {% endif %}
            </li>
        </ul>
    </div>
    {% endfor %}
</nav>


<!--
        <nav class="header-menu" id="header-menu">
            {% if site.data.menus.primary[0] %}
               {% for item in site.data.menus.primary %}
                  {% if item.subfolderitems[0] %}        
                    <ul class="menu">
                    {% for entry in item.subfolderitems %}
                    <li class="{% if entry.subsubfolderitems[0] %}has-sub{% endif %} menu-item">
                     <a class="menu-link nav-link {% if entry.subsubfolderitems[0] %}menu-toggle{% endif %}" href="{{ entry.url }}">{{ entry.name }}</a>
                     {% if entry.subsubfolderitems[0] %}
                        <ul class="menu-sub menu-drop">
                           {% for subentry in entry.subsubfolderitems %}
                              <li class="menu-item">
                                 <a class="menu-link nav-link" href="{{ subentry.url }}">{{ subentry.name }}</a>
                              </li>
                           {% endfor %}
                        </ul>
                     {% endif %}
                  </li>
            {% endfor %}
            </ul>
         {% endif %}
      {% endfor %}
   {% endif %}                    
</nav> -->