// Define font family
$font-family: 'Helvetica', sans-serif;

// Define heading styles
$heading-1: 28px;
$heading-2: 24px;
$heading-3: 20px;
$heading-4: 18px;
$heading-5: 16px;

// 
body {
  margin: 0px;
}

* {
  font-family: $font-family;
}

// Define the styles

h1 {
  font-size: $heading-1;
  text-decoration: none;
  /* Add any additional styles for h1 */
}

h2 {
  font-size: $heading-2;
  /* Add any additional styles for h2 */
}

h3 {
  font-size: $heading-3;
  /* Add any additional styles for h3 */
}

h4 {
  font-size: $heading-4;
  /* Add any additional styles for h4 */
}

h5 {
  font-size: $heading-5;
  /* Add any additional styles for h5 */
}

a {
  text-decoration: none;
}
