// Define font family
$font-family: 'Helvetica', sans-serif;

// Define heading styles
$heading-1: 28px;
$heading-2: 24px;
$heading-3: 20px;
$heading-4: 18px;
$heading-5: 16px;

// 
body {
  margin: 0px;
}

/* grid option
body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr;
  margin: 0;
  background-color: orange;
  grid-template-columns: 15% 70% 15%;
}

[id^=row]{ grid-column: 1/-1 }

#row1 { background-color: red; }
#col1 { background-color: yellow; }
#col3 { background-color: purple; }
#row2 { background-color: green; }
*/

// Define the styles

h1 {
  font-size: $heading-1;
  /* Add any additional styles for h1 */
}

h2 {
  font-size: $heading-2;
  /* Add any additional styles for h2 */
}

h3 {
  font-size: $heading-3;
  /* Add any additional styles for h3 */
}

h4 {
  font-size: $heading-4;
  /* Add any additional styles for h4 */
}

h5 {
  font-size: $heading-5;
  /* Add any additional styles for h5 */
}


